<% if collection.any? %>
  <% model =  collection.first
                        .class.name
                        .pluralize %>
  <h2><%= model.humanize %></h2>
  <ul>
    <% collection.each do |category| %>
      <%= content_tag(:li, link_to(category.name, url_for(controller: model.underscore, action: 'show', id: category.slug))) rescue next %>
    <% end %>
  </ul>
<% end %>