<% if model_collection.any? %>
  <div class="glide projects-slider">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <% model_collection.each do |object| %>
          <li class="glide__slide">
            <%= image_tag object.image&.url %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
      <% model_collection.each_with_index do |object, index| %>
        <% url = object.hq_preview.attached? ? object.hq_preview.url : object.image&.url %>
        <% next unless url %>
        <div class="glide__bullet" data-glide-dir="=<%= index %>">
          <%= image_tag url %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>