<main class="grid-home">
  <div class="grid-row-container">
    <%= render 'home/parts/image' %>
    <%= render 'home/parts/about' %>
  </div>

  <div class="grid-row-container">
    <%= render 'home/parts/title' %>
    <%= render 'home/parts/work_menu' %>
  </div>
</main>