coucou
<p> <%= link_to Category.model_name.human, categories_path %> </p>
<p> <%= link_to Collection.model_name.human, collections_path  %> </p>
<p> <%= link_to Project.model_name.human, projects_path  %> </p>