<% menu = Menu.find_by(machine_name: :main_menu) %>
<% menu_items = menu.present? ? menu.menu_items.published : [] %>
<div class="menu-container">
  <% if menu_items.any? %>
    <ul>
      <% menu_items.each do |menu_item| %>
        <%# next if menu_item %>
        <% options = { controller: menu_item.controller_name_before_type_cast, action: menu_item.controller_action_before_type_cast } %>
        <% if menu_item.controller_action_before_type_cast == "show" && menu_item.resource_identifiant  %>
          <% slug = menu_item.linked_resource %>
          <% options[:id] = slug %>
        <% end %>
        <%= content_tag(:li, link_to(menu_item.name, url_for(options))) %>
      <% end %>
    </ul>
    <%= render 'shared/menu_parts/collections_navigation', collection: Category.all %>
    <%= render 'shared/menu_parts/collections_navigation', collection: Collection.all %>
  <% end %>
</div>