<% if @project.description.present? %>
  <div class="sidebar-project-description">
    <%== @project.description %>
  </div>
<% end %>

<% if $website_config.show_projects_links && @project.links.any? %>
  <div class="sidebar-project-urls">
    <h2><%= Link.name.pluralize.humanize %></h2>
    <% @project.links.each do |link|  %>
      <%= link_to link.name, link.url %>
      <%= " | " unless link == @project.links.last %>
    <% end  %>
  </div>
<% end %>
