@import 'variables';

.main-menu {
  background-color: $background-color;
  line-height: $nav-height;
  // line-height: calc(#{$nav-height-ratio} * 2);
  // padding-top: $nav-height-ratio;
  overflow: hidden;
  display: flex;
  ul {
    width: 40%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}