@import 'variables';

.main-menu {
  background-color: $background-color;
  margin-right: $margin-percent-content;
  font-size: 2em;
}

.home {
  .main-menu {
    font-size: 1em;
    line-height: $nav-height;
    margin-right: 0;
    margin-bottom: $margin-percent-content;
    overflow: hidden;
    display: flex;
    ul {
      width: 40%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}