

.main-sidebar,
.main-content{
  height: 100vh;
  position: fixed;
}

.main-sidebar {
  background-color: #b6a9a9;
  padding: 100px;
  box-sizing: border-box;
}

.main-content {
  right: 0;
  background-color: #ffffff;
}