@import 'variables';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $text-color;
}

body {
  font-weight: 400;
  font-family: 'Source Sans Pro';
  line-height: 1.5;
  color: $text-color;
  font-size: 1.1em;
  background-color: $background-color;
}

b, strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, .menu-container li {
  text-transform: uppercase;
  font-family: 'BenchNine';
  font-weight: 700;
}

#main-content {
  .blur-background {
    position: fixed;
    top: -#{$banner-blur-amount};
    left: -#{$banner-blur-amount};
    width: calc(100vw + #{$banner-blur-amount}*2);
    height: calc(100vh + #{$banner-blur-amount}*2);
    background-size: cover;
    filter: blur(#{$banner-blur-amount});
    z-index: -1;
    opacity: $banner-opacity;
  }

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

  .content-centerer {
    height: $content-height;
    width: $content-width;
    overflow: hidden;

    main {
      height: $inner-content-height;
      position: relative;
      background-color: $blocks-background-color;
      padding: 50px;
    }
  }
}