@import 'variables';
.page-content {
  h1 {
    font-size: xxx-large;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $blocks-border-color;
  }
}
/*
.page-content {
  padding: 100px;

  h1 {
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}*/