<section class="about-container one-third">
  <div class="about-content">
    <h2>
      <%= $website_config.introduction_title %>
    </h2>
    <%== $website_config.introduction %>
  </div>
</section>