<section class="title-container two-third">
  <h1>
                <span>
                  <%= $website_config.text_box_left.presence ||
                        $website_config.website_name.presence ||
                        t('site_title') %>
                </span>
  </h1>
</section>