<section class="title-container two-third">
  <h1>
    <%= link_to($website_config.text_box_left.presence ||
                  $website_config.website_name.presence ||
                  t('site_title'), page_url(Page.first)) %>
  </h1>
</section>